In [0]:
# Se importan algunas liberías útiles
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
from matplotlib import style
import csv 
import pandas as pd

In [0]:
# Para leer la base de datos se importa desde un URL desde GitHub para mayor comodidad
Datos =  pd.read_csv('https://raw.githubusercontent.com/ErickHafid/Programation-and-DataScience/master/energydata_complete.csv') 
Datos

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [0]:
# Para filtrar los datos necesarios se utiliza la función drop()
# Se espera que la columna 'Appliances' sea función de las demás columnas
Valores = Datos.drop(['date', 'lights', 'rv1', 'rv2'], axis = 1)
Valores

# Normalización de los datos
Valores = (Valores - Valores.mean()) / Valores.std()
Valores

       Appliances        T1      RH_1  ...  Windspeed  Visibility  Tdewpoint
0       -0.367666 -1.118616  1.843774  ...   1.207663    2.091543   0.366966
1       -0.367666 -1.118616  1.616766  ...   1.071676    1.766539   0.343126
2       -0.465204 -1.118616  1.517921  ...   0.935690    1.441535   0.319286
3       -0.465204 -1.118616  1.459284  ...   0.799703    1.116531   0.295446
4       -0.367666 -1.118616  1.526298  ...   0.663716    0.791527   0.271606
...           ...       ...       ...  ...        ...         ...        ...
19730    0.022483  2.415901  1.583259  ...  -0.288190   -1.243282   2.282105
19731   -0.075055  2.374391  1.568181  ...  -0.220197   -1.172629   2.274158
19732    1.680617  2.374391  1.592473  ...  -0.152204   -1.101976   2.266212
19733    3.143676  2.374391  1.691318  ...  -0.084210   -1.031323   2.258265
19734    3.241213  2.374391  1.593311  ...  -0.016217   -0.960670   2.250318

[19735 rows x 25 columns]

In [0]:
# Separación de las variables independientes y la variable dependiente
Y = Valores.iloc[:,0:1]
X = Valores.iloc[:,1:]

# Como objetos operables
X = np.asarray(X)
X = X.transpose()

Y = np.asarray(Y)

In [0]:
# Parámetros
theta = np.arange(24) 
alpha = 0.01 # Parámetro de aprendizaje
iter = 10000

In [0]:
# MÉTODO IMPLEMENTADO 
# Función Costo
def FCosto(X, Y, theta):
    m = Y.size
    J = 0
    h = np.dot(X,theta) # Se aplica la hipotesis lineal a los datos
    J = (1 / (2*m))*np.sum(np.square(h - Y)) # Función costo
    return J

In [0]:
# Ciclo de aprendizaje
def DescGrad(X, Y, theta, alpha, iter): 
    m = Y.shape[0]
    theta = theta.copy()
    #J_historico = [] 
    for it in range(iter):
        theta = theta - (alpha / m)*(np.dot(X, theta) - Y).dot(X)
        #J_historico.append(FCosto(X, Y, theta))
        
    return theta

In [0]:
THETA = DescGrad(X, Y, theta, alpha, iter) 
print(THETA)

ValueError: ignored